.modal, .overlay{
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
    position: fixed;
}

.overlay{
    background: rgba(49,49,49,0.4);
}
.modal-content {
    /* position: absolute; */
    float:right;
    line-height: 1.4;
    background: #f1f1f1;
    /* padding: 14px 28px; */
    border-radius: 3px;
    width:60vw;
    height:100vh;   
    overflow-y: auto; 
}
.popup-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    background-color: #5861ae00;
    color: white;
    border: none;
    font-size: 18px;
}

/* --------- */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  .navlogo {
    background: white;
    height: 80px;
    width: 100%;
  }
  .logo {
    color: #5861ae;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  .navUl {
    float: right;
    margin-right: 40px;
  }
  .navLi {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  table{
    border-collapse: collapse;
    width:100%;
   
}
thead{
    background-color: #2F2F2F;
    color:#FFFFFF;
    text-align: left;
    border-radius: 2px;
    opacity: 1;
    height:50px;
}
th{
    
    padding-left: 10px;
}
.headLi-3{
    padding-left: 200px;
}
tr{
    border: 1px solid #E0E0E0;
    text-align: left;
    padding: 15px;
}
 .image {
    width: 45px;
    height: 43px;
  }
  .tab-col-1{
    width:25%
  }
  .tab-col-2{
    width:10%
  }
  .tab-col-3{
    width:50%
  }
  .tab-col-4{
    width:15%
  }
  input{
    width:45px;
  }
  .washType{
    margin-left: 5rem;
  }
  .reset{
    margin-right: 1rem;
    float: right;
    width: 81px;
    height: 32px;
    border: 1px solid #5861AE;
    border-radius: 4px;
    padding: 0.8px;
    font: normal normal  Open Sans;
   
    color: #5861AE;
    opacity: 1;

  }
  .reset:hover {
    background-color: #4552c1;
    color: white;
    box-shadow: 2px 2px 10px gray;
    transform: scale(1.01);
  }
  .price{
    width: 68px;
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 18px/24px Open Sans;
    letter-spacing: 0.43px;
    color: #221919;
    opacity: 1;
  }
  .grandtotal-cro{
    width: 42px;
    height: 33px;
    text-align: left;
    font: normal normal bold 24px/33px Open Sans;
    letter-spacing: 0.58px;
    color: #5861AE;
    opacity: 1;
  }
  .cancel-proceed{
    float:right;
    margin:10px;
    width: 81px;
    height: 32px;
    border: 1px solid #5861AE;
    border-radius: 4px;
    padding: 0.8px;
    font: normal normal  Open Sans;
   
    color: #5861AE;
    opacity: 1;
  }
  .cancel-proceed:hover {
    background-color: #4552c1;
    color: white;
    box-shadow: 2px 2px 10px gray;
    transform: scale(1.01);
  }
  .footer-home {
    position: absolute;
    bottom: 0;
    background: #182838;
    width: 100%;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  }
  .home-body{
    display:flex;
  }
  .home-sidebar{
    display: inline;
    width: 57px;
    background: #5861AE 0% 0% no-repeat padding-box;
    opacity: 1;
    
  }
.home-sidebar div{
  padding:15px 8px;
  height: 50px;
  display: block;
}
  .home-sidebar img{
    
    width: 22px;
    height: 22px;
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
    
  }
  .table-div{
    width:100%;
    height: 100%;
    margin-left: 5%;
    margin-right:5%;
  }
  .modal_storeDetails{
    display: flex;
    gap: 100px;
    padding: 34px;
    background-color: #F4F9FF;
    text-align: left;
  }
  .order_details{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7070703d;
    padding: 18px;
  }
  .summary-div{
    text-align: left;
    background: #5861AE;
    width: 100%;
    height: 70px;
    padding-top: 21px;
    padding-left: 18px;
    color: white;
    font-family: Open Sans, Semibold;
    font-size: 22px;
  }
  .order_div{
    text-align: left;
    background-color: #FFFFFF;
    padding-left: 32px;
    padding-right: 72px;
  }
  .total_div{
    text-align: right;
    padding-right: 72px;
    background-color: #FFFFFF;
  }
  .sub_total{
    margin-left: 50px;
  }
  .pickup_div{
    margin-left: 58px;
  }
  .total_div1{
    height: 30px;
  }
  .total_blue{
    background-color: #5861AE;
    margin-left: 32px;
    color: white;
    height: 50px;
    font-size: larger;
    padding-top: 12px;
    padding-right: 10px;
    margin-right: -10px;
    font-weight: bold;
    font-family: Open Sans;
  }
  .address_div{
    text-align: left;
    background-color: #FFFFFF;
    padding-left: 35px;
    height: 300px;
    padding-top: 35px;
  }
  .square_box{
    width: 20%;
    border: 1px solid #5861aea2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 25px;
  }
  .confirm_btn{
    background-color: #5861AE;
    border-radius: 4px;
    color: white;
    width: 150px;
    height: 40px;
    border: 2px solid #5861AE;
    float: right;
    margin-right: 50px;
  }
  .bluetick{
    width: 120px;
    height: 120px;
  }
  .popup-content{
    height: 400px;
    width: 350px;
    font-family: Open Sans;
  }
  .order_route_btn{
    width: 235px;
    height: 45px;
    background-color: #5861AE;
    color: white;
    border-radius: 22px;
    border: 2px solid #5861AE;
    margin-top: 30px;
  }
  .createSpan{
    font-weight: bolder;
  }
  .createSpan1{
    font-size: smaller;
  }
  .createSpan_div{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .createBlock_div{
    display: flex; 
  }
  .createContainer-home{
    height: 60px;
  }
  .create-search{
    display: flex;
    justify-content: space-between;
  }
  /* .head {
    background: black;
    color: white;
    height: 50px;
    width: 80%;
    margin: auto;
  } */
  /* .headUl {
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
  }
  .headLi {
    display: inline-block;
    line-height: 50px;
  }
  .image {
    margin-left: 40px;
  }
  .inputfield {
    
    width: 4%;
   
    position: relative;
    top: -15px;
    left: 80px;
  }
  .washType {
    margin-left: 50px;
    position: relative;
    left: 160px;
  }
  .create {
    margin-left: 180px;
  }
  .search {
    float: right;
    margin-right: 180px;
  }
  .image {
    width: 45px;
    height: 43px;
  }
  .span {
    position: relative;
    top: -20px;
    font-size: smaller;
  }
  .span1 {
    position: relative;
    left: -25px;
    font-size: smaller;
  }
  .container-home {
    background: whitesmoke;
    height: 50px;
    width: 80%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.486);
  }
  .btns {
    float: right;
    margin: 20px 200px 0 0;
  }
  .footer {
    position: absolute;
    bottom: 0;
    background: black;
    width: 100%;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  }
  .price{
    position: relative;
    left: 260px;
    top: -12px;
  }
  .reset{
    position: relative;
    left: 40px;
  } */